body {
     background-color:gray;
}

h1{
color: blue;

}

table tr td {
    color: aqua;

}

#yo{
    color: pink;
}

#bi{
    color: aqua;
}

#so{
    color: yellow;
}

#si{
    color: blueviolet;
}


